In [5]:
#Read Table Method
import pandas as pd
import cx_Oracle
import sqlalchemy

#establish connection -- USE SPECIFIC PATH
cx_Oracle.init_oracle_client(lib_dir=r"/Users/ethanblumenfeld/Downloads/instantclient_19_8")

In [6]:
def readTable(user, password, dsn, table):


    connection = cx_Oracle.connect(user=user, password=password, dsn=dsn)

    cursor = connection.cursor()

    # return table as Data Frame

    query = """select * 
            from """ + table;
    df = pd.read_sql(query, con=connection)

    #print(df)
    return df

In [20]:
#example
df = readTable("admin", "!1Iloveoracle", "db202203241240_high", "team_sample")
print(df)

   TEAM_NAME  GAMEDATE   STAT1      STAT2  STAT3 STAT4 STAT5
0      team1  4/7/2022     one        two  three  four  five
1      team4  4/7/2022    good        bad   good   bad  good
2      team5  4/7/2022    good        bad   good   bad  good
3      team5  4/7/2022  great!  Terrible!   None  None  None
4      team5  4/7/2022    good        bad   good   bad  good
5      team5  4/7/2022  great!        bad   good   bad  good
6      team2  4/7/2022     one        two  three  four  five
7      team3  4/7/2022     one        two  three  four  five
8      team4  4/7/2022    good        bad   good   bad  good
9      team5  4/7/2022    good        bad   good   bad  good
10      None      None    None       None   None  None  None

In [41]:
# valDict is a dictionary of table column name mapped to value.
def writeToTable(user, password, dsn, table, valDict):


    connection = cx_Oracle.connect(user=user, password=password, dsn=dsn)

    cursor = connection.cursor()
    defaultDict = {'Predictive_Outcome':0}
    
    values = []
    for column in defaultDict:
        if column in valDict:
            values.append(valDict[column])
        else:
            values.append(defaultDict[column])
            
    cursor.execute("insert into "+table+"(Predictive_Outcome) values (:1)", values)

    connection.commit()

#example
#values = {'TEAM_NAME':'team5' , 'GAMEDATE':'4/7/2022' , 'STAT1':'great!' , 'STAT2':'bad' , 'STAT3':'good' , 'STAT4':'bad', 'STAT5':'good'}
#values = {'TEAM_NAME':'team5' , 'GAMEDATE':'4/7/2022' , 'STAT1':'great!' , 'STAT2':'Terrible!'}
#writeToTable("admin", "!1Iloveoracle", "db202203241240_high", "team_sample", values)

Method 1:

In [25]:
%%time
df = readTable("NBACOVID", "!1Iloveoracle", "db202203241240_high", "DATASET")

CPU times: user 75.5 ms, sys: 8.87 ms, total: 84.3 ms
Wall time: 2.19 s

In [42]:
%%time
values = {'Predictive_Outcome':5}
writeToTable("NBACOVID", "!1Iloveoracle", "db202203241240_high", "Predictions", values)

CPU times: user 29.1 ms, sys: 6.3 ms, total: 35.4 ms
Wall time: 1.12 s

Method 2:

In [21]:
import timeit
start_time = timeit.default_timer()

#Code to time
df = readTable("NBACOVID", "!1Iloveoracle", "db202203241240_high", "DATASET")

elapsed = timeit.default_timer() - start_time
print(elapsed, "Seconds")

2.902796809999927 Seconds

In [43]:
import timeit
start_time = timeit.default_timer()

#Code to time
values = {'Predictive_Outcome':5}
writeToTable("NBACOVID", "!1Iloveoracle", "db202203241240_high", "Predictions", values)

elapsed = timeit.default_timer() - start_time
print(elapsed, "Seconds")

0.9663302169992676 Seconds